:root {
    --primary: #00afaf;
}

body {
    margin: 0;
}

h1, h2 {
    color: #404040;
}

.navList {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex-grow: 1;
    list-style: none;
    padding: 10px 20px;
}

.navList li {
    height: 18px;
}

.navBar {
    display: flex;
    align-items: center;
    background-color: #ccc;
}

.navBar .navList li .spenpo-link, #nav-home-btn.spenpo-link {
    background-color: var(--primary);
    color: #404040;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
}

.navBar .active {
    outline: solid 1px #ffffff;
}

.navBar a.active h1, .navBar .navList a.active {
    color: #ffffff;
}

#nav-home-btn.spenpo-link {
    border-radius: 0px;
}

#nav-home-btn h1 {
    margin: 0;
    line-height: 50px;
}

.content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loading {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1); /* Light border */
    border-top-color: var(--primary); /* Darker border for the spinning effect */
    border-radius: 50%; /* Make it circular */
    animation: spin 1s linear infinite; /* Spin animation */
    margin: 20px auto;
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.blog-home-post {
    display: flex; justify-content: space-between; align-items: baseline;
}
  
.pagination-container {
    display: flex; flex-direction: column; gap: 10px; margin: auto; padding: 20px;
}

.pagination-buttons-container {
    display: flex; gap: 20px;
}

.pagination-count {
    margin: auto;
}